mixin comment(date, name, content, reply)
  if (reply)
    .comments__item.comments-item.comments-item_reply
      span.text.manrope.manrope-text2.comments-item__date= date
      p.neue.neue-headline3.m2headline3.comments-item__name= name
      p.comments-item__content= content
      a(href="#").neue.neue-link.comments-item__reply#reply-button
        | Reply
  else
    .comments__item.comments-item.comments-item
        span.text.manrope.manrope-text2.comments-item__date= date
        p.neue.neue-headline3.m2headline3.comments-item__name= name
        p.comments-item__content= content
        a(href="#").neue.neue-link.comments-item__reply#reply-button
          | Reply

section.comments
  .m2container
    .m2container-body
      .m2container-body__aside

      .m2container-body__main
        h2.neue.neue-headline3.m2headline3.comments__title.comments-title
          | Comments (
          span.comment-title__counter#comments-counter
            | 3
          | )
        
        .comments-list
          +comment('April 20, 2021', 'Julia Duchamps', 'Alpha sales MVP business-to-consumer strategy client influencer pivot founders assets non-disclosure agreement social proof paradigm shift scrum project. Venture learning curve customer. Series A financing assets business model canvas virality network effects return on investment prototype seed round validation creative business plan influencer seed money.')
          +comment('April 21, 2021', 'Judit Quinton', 'Learning curve seed money non-disclosure agreement ownership client A/B testing. Incubator seed money gamification monetization influencer virality client social media backing burn rate validation freemium. Niche market business-to-consumer alpha conversion partnership churn rate business-to-business.', true)
          +comment('April 19, 2021', 'Marko Flater', 'Success creative innovator. MVP growth hacking iPad bootstrapping buyer facebook bandwidth marketing validation user experience direct mailing deployment leverage android. Client creative ecosystem rockstar android strategy first mover advantage.')
          
          
