mixin breadcrumbs(paddingLeft=false,item1="", item2="", item3="", item4="", item5="")
	nav.breadcrumbs-wrap
	ul(class="breadcrumbs" + (paddingLeft==true?"":" breadcrumbs--pl0"))
		if(item1=="")
			li.breadcrumbs-item
				a.breadcrumbs-item-a(href="") Раздел

			li.breadcrumbs-item Раздел
		else
			li.breadcrumbs-item
				a.breadcrumbs-item-a(href="")
					=item1
			if(item2!="")
				li.breadcrumbs-item
					a.breadcrumbs-item-a(href="")
						=item2
			if(item3!="")
				li.breadcrumbs-item
					.breadcrumbs-item-a(href="")
						=item3
			if(item4!="")
				li.breadcrumbs-item
					a.breadcrumbs-item-a(href="")
						=item4
			if(item5!="")
				li.breadcrumbs-item
					a.breadcrumbs-item-a(href="")
						=item5

mixin listItem(title, listItems, link)
	if (title === 'Share')
		.hero-description__item.hero-description__item_share
			p.text.manrope.manrope-text2.hero-description__title= title
			.hero-description__list.hero-description__list_share
				each listItem in listItems
					a(href= listItem.link).m2text1.neue.neue-text1.hero-description__li= listItem.name
	else
		.hero-description__item
			p.text.m2text4.manrope.manrope-text2.hero-description__title= title
			.hero-description__list
				each listItem in listItems
					p.m2text1.neue.neue-text1.hero-description__li= listItem.name


mixin neueHeadline3(className, content)
	p(class="text m2headline3 neue neue-headline3 " + className)= content

mixin mainText(className, content)
	p(class="text m2text3 manrope manrope-text1 " + className)= content